.container{
    width: 1200px;
    margin: auto;
}
.section-team{
    text-align: center;
}
.section-team img{
    width: 250px;
    
}
.section-team .avatars>div{
    display: inline-block;
    background: #000;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    overflow: hidden;
}
.section-team .avatars .info{
    background-image: linear-gradient(90deg, #09117930 , #47097930);
    width: inherit;
    height: inherit;
    position: relative;
    transition: 1s;
    bottom: 0;
    opacity: 0;
}
.section-team .avatars>div:hover .info{
    bottom: 107.25%;
    opacity: 1;
}