body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #f9f9f9;
    color: black;
}
.container{
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.navbar{
    display: inline-block;
    position: fixed;
    width: 400px;
    top: 35px;
    left: 15%;
}
.navbar .search{
    position: relative;
    width: 230px;
    height: 25px;
}
.navbar input{
    position: absolute;
    font-size: 16px;
    width: 250px;
    height: 30px;
    border: 2px solid #edeced;
    border-radius: 3px;
    margin-top: 25px;
}
.navbar input::placeholder {
    padding-left: 20px;
  }
.navbar .icon{
      position: absolute;
      width: 25px;
      height: 25px;
      color: #edeced;
      border: none;
      top: 5px;
      background-color: #fff;
      right: 0;
      margin-top: 25px;
  }
  .navbar h1{
      font-size: 18px;
      margin-top: 50px;
      font-weight: 700;
      text-transform: uppercase;
  }
  .navbar ul {
    margin-top: 15px;
  }
  .navbar li {
  margin-top: 10px;
}
.navbar li a:hover{
    color: #fc5f4a;
}
.navbar li:first-child i{
    padding-left: 195px;
    font-size: 13px;
    color: #002538;
}
.navbar li:nth-child(2) i{
    padding-left: 172px;
    font-size: 13px;
    color: #002538;
}
.navbar li:nth-child(3) i{
    padding-left: 189px;
    font-size: 13px;
    color: #002538;
}
.navbar li:last-child i{
    padding-left: 150px;
    font-size: 13px;
    color: #002538;
}
  .navbar li a{
    text-decoration: none;
    color: #002538;
  }
  .navbar li:last-child {
    margin-top: 25px;
  }
  .navbar .funzone {
      margin-top: 230px;
      width: 250px;
      height: 48px;
      border-radius: 4px;
      border: 1px solid #fc5f4a;
      color: #fd7563;
      font-weight: bold;
      font-size: 15px;
      text-transform: uppercase;
      transition: 0.1s linear;
  }
  .navbar .funzone:hover {
    color: #fff;
    background-color: #fd7563;
  }
  .navbar .socialmedia {
    margin-top: 20px;
    display: inline-block;
  }
  .navbar .socialmedia i {
    color: #788388;
    opacity: 0.3;
    padding: 0 11px;
    font-size: 35px;
  }
  .navbar .socialmedia a:first-child i:hover{
      opacity: 1.0;
      color: #0e4980;
  }
  .navbar .socialmedia a:nth-child(2) i:hover{
      opacity: 1.0;
      color: rgb(202, 50, 75);
  }
  .navbar .socialmedia a:nth-child(3) i:hover{
      opacity: 1.0;
      color: #0371bb;
  }
  .navbar .socialmedia a:last-child i:hover{
      opacity: 1.0;
      color:rgb(247, 47, 47);
  }
.rightblock{
    right: 0;
    width: 800px;
    position: absolute;
}
.rightblock .selectcontainer{
    float: right;
    margin-top: 70px;
    margin-right: 32%;
}
.rightblock .selectcontainer a{
    display: inline-block;
    padding: 0 10px;
    font-size: 16px;
    text-decoration: none;
    color: #002538;
}
.rightblock .selectcontainer a:hover{
    color: #fc5f4a;
}
.rightblock .selectcontainer .fas{
    padding: 0 15px;
    font-size: 13px;
}
.rightblock .container{
    margin-top: 120px;
    margin-left: -235px;
}
.rightblock .card{
    position: relative;
    display: inline-block;
    width: 250px;
    height: 350px;
    background-color: #fff;
}
.rightblock .container .card img{
    width: 250px;
    height: 250px;
}
.rightblock .container .card .nameproduct {
    color: #002538;
    font-size: 17px;
    text-align: center;
}
.rightblock .container .card a{
    text-decoration: none;
}
.rightblock .container .card .nameproduct:hover{
    color: #fd7563;
}
.rightblock .container .card .price{
    position: absolute;
    color: #002538;
    text-align: center;
    font-size: 21px;
    left: 35%;
    bottom: 50px;
}
.rightblock .footer{
    border-top: 2px solid rgba(165, 163, 163, 0.6);
    font-size: 14px;
    margin-right: 300px;
    float: right;
    width: 750px;
    padding-top: 10px;
}
.rightblock .footer .payment img{
    width: 35px;
    height: 25px;
    }
.rightblock .footer .linkscontainer a{
    margin-left: -10px;
    padding-left: 18px;
    padding-top: 10px;
    color: rgba(131, 128, 128, 0.6);
}
.rightblock .footer .payment{
    float: right;
    margin-top: -15px;
}
.footer .apsslinks {
    margin-top: 20px;
  }