.header{
    
    
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    
    .header_inner{
        position: fixed;
        display: inline-block;
        //justify-content: space-between;
        background-color: black;
        padding: 10px 0;
         
        .inline{
            display: inline-block;
        }
    }
    .header_logo{
        width: 200px;
    }
    .search{
        width: 230px;
        height: 25px;
        left: 0px;
        input{
            font-size: 16px;
            width: 185px;
            height: 30px;
            border-radius: 20px;
            padding-left: 10px;
            
            icon{
                position: absolute;
                width: 15px;
                height: 15px;

            }
        }
    }
}
}